.social-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff7373;
  padding: var(--space-4);
  width: 100%;
  
  .icon {
    color: var(--color-white);
    font-size: var(--type-scale-5);
    margin: 0 var(--space-1);

    &:hover {
      filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    }
  }
}