// ==================
// Breakpoints
// ==================

// Example
// @media #{$phone} {
//	 ...
// }


$phone: '(max-width: 599px)';
$phone-up: '(min-width: 600px)';
$tablet: '(min-width: 600px) and (max-width: 1024px)';
$desktop: '(min-width: 1025px)';

