:root {
    /**
    * @tokens Font Families
    * @presenter FontFamily
    */
    --font-arial: 'Arial', sans-serif;
    --font-helvetica: 'Helvetica', sans-serif;
    --font-monaco: 'Monaco', sans-serif;
    --font-open-sans: 'Open Sans', sans-serif;
}