/* presuming body font-size: 16px */
:root {
    /**
    * @tokens Type Scale
    * @presenter FontSize
    */
    /* 60px */
    --type-scale-headline: 3.75rem;
    /* 50px */
    --type-scale-subheadline: 3.125rem;
    /* 12px */
    --type-scale-tiny: .75rem;
    /* 14px */
    --type-scale-note: .875rem;
    /* 16px */
    --type-scale-1: 1rem;
    /* 18px */
    --type-scale-2: 1.125rem;
    /* 20px */
    --type-scale-3: 1.25rem;
    /* 24px */
    --type-scale-4: 1.5rem;
    /* 32px */
    --type-scale-5: 2rem;
    /* 36px */
    --type-scale-6: 2.25rem;
    /* 48px */
    --type-scale-7: 3rem;
}